.btn-style{
    text-align: center;
    width: 108px;
    font-size: 0.7rem;
}

.courtCallCard{
    text-align: center;
    /* font-size: 0.7rem; */
    min-width: 342px;
    min-height: 768px;
}

.courtCallContainer{
    padding-left: 3px !important;
    padding-top: 13px;
}

.row-1{
    margin-bottom: 17px;
}

.row-3{
    display: block;
    padding-top: 10px;
}

.inputFld{
    font-size: 0.5rem;
    color: black;
}

.table-wrapper-scroll-y {
    max-height: 300px ! important;   
}

.table-font-size{
    font-size: 0.7rem; 
}

.col-table{
   padding-right: 0px; 
   padding-left: 0px;
}

.table td, .table th {
    padding: 0.0rem;
    
}

.form-control {
    padding: .375rem 0.65rem;
}